/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2015, 3:35:40 PM
    Author     : fredrick.abayie
*/

.navbar-inverse{
    background-color: #151412;
    border-radius: 0; 
    margin: 0;
    /*padding: 0;*/ 
    height: 50px;
    position: relative;
    /*display: block;*/
}

.navbar-brand{
    border-radius: 100%;
    background-color: lightgray;
    height: 30px;
    width: 30px;
    margin: 10px 0 0 10px;
    display: block;
    float: left;
    background-position: center 9px;
}

.navbar-inverse-bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 0 0;
    text-align: center;
    background-color: #2c2b2a;
    height: 50px;
}

.container-inner{
    position: relative;
    /*min-height: 590px;*/
    /*height: calc(100% - 50px);*/
}